// @theme - white / default
$bg-color-w-theme: #eee;
$text-color-w-theme: black;
$h-color: #033473;

// @colors - standard colors
$color-primary: #033473;
$color-secondary: #0669bf;

// @theme - darktheme
$bg-default-dark: #121212;
$bg-color-d-theme: lighten(#121212, 5%);
$text-color-d-theme: #fff;

// @text-size
$text-size-default: 1.6rem;
$text-size-small: 1.2rem;
$text-size-medium: 1.8rem;
$text-size-big: 2rem;

// @borders
$b-radius: 0.3rem;
$b-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

// @gutters
$v-small-gutter: 1rem;
$small-gutter: 2rem;
$normal-gutter: 4rem;
$large-gutter: 6rem;