.signin {
  width: 50%;
  margin: $normal-gutter auto;
  text-align: center;

  // background-color: yellow;

  h1 {
    margin-bottom: $normal-gutter;
  }

  &.dark {
    .input-group {
      background-color: lighten($color: $bg-color-d-theme, $amount: 10%);
      input {
        &,
        &:focus,
        &:active {
          color: inherit;
        }
        &::placeholder {
          color: inherit;
          opacity: 0.7;
        }
      }
    }
  }

  .input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    border-radius: $b-radius;

    background-color: white;
    width: 80%;
    margin: 0 auto;
    margin-bottom: $small-gutter;

    .onfocus {
      background-color: yellow;
    }

    input {
      &,
      &:focus,
      &:active {
        background-color: transparent;
        border: 0;
        outline: 0;
        flex: 1;
        padding: 1rem;
        font-family: inherit;
        font-size: inherit;
        padding-left: 2rem;
      }
    }
  }

  .btn-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: $small-gutter 0;
    flex-wrap: wrap;

    input[type='radio'] {
      display: none;

      &:checked + label {
        border-color: $color-secondary;
        color: $color-secondary;
        font-weight: 600;
      }
    }

    label {
      display: block;
      text-align: center;
      border: 1px solid transparent;
      border-radius: $b-radius;
      background-color: white;
      padding: 0.5rem;
      width: 30%;
      // flex-grow: 1;

      @include theme;
    }
  }
  @media screen and (max-width: 1000px) {
    width: 70%;
  }
  @media screen and (max-width: 600px) {
    width: 90%;
  }
}
