.btn {
  &,
  &:link,
  &:visited,
  &:focus,
  &:active {
    border: none;
    outline: none;
    text-decoration: none;
    border-radius: 0.3rem;
    padding: 1rem 2rem;
    transition: all 0.3s;
    font: inherit !important;
    font-weight: 600 !important;
    font-size: $text-size-medium !important;
    cursor: pointer;
  }

  &-primary {
    &.white {
      background-color: $color-secondary;
      color: white !important;

      &:hover {
        background-color: lighten(
          $color: $color-secondary,
          $amount: 10%
        ) !important;
      }

      &:active {
        transform: scale(0.95);
      }
    }
  }

  &-outline {
    background-color: transparent;
    color: $color-secondary;
    &.white {
      &:hover {
        background-color: lighten($color: $color-secondary, $amount: 50%);
      }
      &:active {
        background-color: lighten($color: $color-secondary, $amount: 30%);
      }
    }
    &.dark {
      & {
        &:hover {
          background-color: darken($color: $color-secondary, $amount: 20%);
        }
        &:active {
          background-color: darken($color: $color-secondary, $amount: 30%);
        }
      }
    }
  }
}
